@media (min-width: 901px) {
    .header-U2B {
      display: grid;
      grid-template-columns: 1fr 8fr 1fr;
      grid-gap: 10px;
      margin-bottom: 10px;
    }
    .navbar-U2B {
      grid-row: 1;
      grid-column: 2;
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
      grid-gap: 50px;
      grid-auto-rows: 50px;
      background-color: #fff;
    }
    .logo-U2B {
      grid-column: 1;
      grid-row: 1;
    }
    .searchbar-U2B {
      grid-column: 2;
      grid-row: 1;
    }
    .shortcuts-U2B {
      grid-column: 3;
      grid-row: 1;
    }
    .user-avatar-U2B {
      grid-column: 4;
      grid-row: 1;
    }
  
    .body-U2B {
      display: grid;
      grid-template-columns: 1fr 8fr 1fr;
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
    .container-U2B {
      grid-column: 2;
      grid-row: 1;
  
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 2fr 1fr;
    }
    .current-video-container-U2B {
      grid-column: 1;
      grid-row: 1;
  
      display: grid;
      grid-template-rows: 450px 170px 240px 135px;
      grid-gap: 15px;
      grid-template-columns: 1fr;
    }
    .recommended-video-container-U2B {
      grid-column: 2;
      grid-row: 1;
  
      display: grid;
      grid-gap: 15px;
      grid-template-rows: 50px 150px 150px 150px 150px 150px 150px;
      grid-template-columns: 1fr;
    }
  
    .size-video {
      width: 100%;
      height: 450px;
    }
    .video-section {
      grid-column: 1;
      grid-row: 1;
    }
    .video-title {
      grid-column: 1;
      grid-row: 2;
    }
    .video-description {
      grid-column: 1;
      grid-row: 3;
    }
    .video-comments {
      grid-column: 1;
      grid-row: 4;
    }
    .recommended-video {
      grid-column: 1;
      grid-row: auto;
    }
  }
  @media (max-width: 900px) {
    .size-video {
      width: 100%;
      height: 350px;
    }
  
    .header-U2B {
      display: grid;
      grid-template-columns: 1fr 8fr 1fr;
      grid-gap: 10px;
      margin-bottom: 10px;
    }
    .navbar-U2B {
      grid-row: 1;
      grid-column: 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 5px;
      grid-auto-rows: 50px;
      background-color: #fff;
    }
    .logo-U2B {
      grid-column: 1;
      grid-row: 1;
      display: inline-block;
    }
    .searchbar-U2B {
      grid-column: 1 / -1;
      grid-row: 2;
      display: inline-block;
    }
    .shortcuts-U2B {
      grid-column: 2;
      grid-row: 1;
      display: inline-block;
    }
    .user-avatar-U2B {
      grid-column: 3;
      grid-row: 1;
      display: inline-block;
      text-align: right;
    }
  
    .body-U2B {
      display: grid;
      grid-template-columns: 1fr 8fr 1fr;
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
    .container-U2B {
      grid-column: 2;
      grid-row: 1;
  
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 1fr;
    }
    .current-video-container-U2B {
      grid-column: 1;
      grid-row: 1;
  
      display: grid;
      grid-template-rows: auto auto auto 135px;
      grid-gap: 15px;
      grid-template-columns: 1fr;
    }
    .recommended-video-container-U2B {
      grid-column: 1;
      grid-row: 2;
  
      display: grid;
      grid-gap: 15px;
      grid-template-rows: 50px 150px 150px 150px 150px 150px 150px;
      grid-template-columns: 1fr;
    }
  
    .video-section {
      grid-column: 1;
      grid-row: 1;
    }
    .video-title {
      grid-column: 1;
      grid-row: 2;
    }
    .video-description {
      grid-column: 1;
      grid-row: 3;
    }
    .video-comments {
      grid-column: 1;
      grid-row: 4;
    }
    .recommended-video {
      grid-column: 1;
      grid-row: auto;
    }
  }
  
  .background-color-white {
    background-color: #fff;
  }
  
  /**/
  .center {
    margin: auto;
    padding: 10px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 15px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    -moz-transform: translateX(26px);
    -o-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider-round {
    border-radius: 34px;
  }
  
  .slider-round:before {
    border-radius: 50%;
  }
  
  .miniature-videos {
    width: 230px;
    height: 120px;
    position: relative;
    margin: 0 auto;
  }
  
  .duration-miniature {
    position: absolute;
    top: 80%;
    left: 82%;
    background-color: black;
    color: white;
    z-index: 2;
    opacity: 0.8;
  }
  
  .top-margin-white {
    background-color: white;
    margin-top: 10px;
  }
  
  .icon-loading {
    text-align: center;
  }
  
  .nav-styles {
    background-color: white;
    padding: 10px;
  }
  
  .youtube-icon-size {
    width: 100px;
    height: 30px;
    padding: 10px;
  }
  
  .user-image-size {
    width: 32px;
    height: 32px;
  }
  
  .publish-styles {
    margin-top: 10px;
    font-weight: 700;
  }
  
  .hr-styles {
    margin: 0;
    border-color: lightgrey;
  }
  
  .show-more-styles {
    text-align: center;
    color: rgb(96, 96, 96);
    font-weight: 700;
  }
  
  .loading-styles {
    width: 20px;
    height: 20px;
  }
  
  .aside-styles {
    background-color: white;
    padding: 5px;
  }
  
  @media (max-width: 991px) {
    .aside-styles {
      background-color: white;
      padding: 5px;
      margin-top: 15px;
    }
  
    #section-padding {
      padding-right: 15px;
    }
  }
  
  @media (min-width: 992px) {
    #section-padding {
      padding-right: 25px;
    }
  }
  
  .miniature-styles {
    width: 100%;
    height: 120px;
    z-index: 1;
  }
  
  .miniature-user {
    color: rgb(96, 96, 96);
    font-size: 11px;
    font-weight: 400;
    margin: 0;
  }
  
  .miniature-views {
    color: rgb(96, 96, 96);
    font-size: 11px;
    font-weight: 400;
  }
  
  .views-styles {
    margin-bottom: 0;
    margin-top: 35px;
  }
  
  .miniature-info {
    width: 160px;
    padding-right: 0;
    height: 100px;
  }
  
  .display-block {
    display: inline-block;
  }
  
  .color-lightgrey {
    background-color: lightgrey;
    font-family: "Roboto", sans-serif;
  }
  
  .face-icon {
    display: inline-block;
    background-color: white;
  }
  
  .font-twenty {
    font-size: 20px;
  }
  
  .span-face-user {
    display: inline-block;
    background-color: white;
    border-width: 1px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
  }
  
  .font-twenty-five {
    font-size: 25px;
  }
  
  .margin-auto {
    margin: 0 auto;
  }
  
  .user-photo {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-color: grey;
    margin: 3px;
  }
  
  .suscribe-button {
    background-color: red;
    color: #fff;
    width: 96px;
    height: 32px;
  }
  
  .label-followers {
    border: 1px solid;
    border-color: grey;
  }
  
  .line-styles {
    border-color: lightgrey;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .font-eighteen {
    font-size: 18px;
  }
  
  .padding-fifteen {
    padding-top: 15px;
  }
  
  .font-fifteen {
    font-size: 15px;
  }
  
  .icon-navbar {
    display: inline-block;
    background-color: white;
  }
  
  .width-eighty {
    width: 80%;
  }
  
  .width-ten {
    width: 10%;
  }
  
  .margin-zero {
    margin: 0px;
  }
  
  .margin-three {
    margin: 3px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  /* Begin of TINB */
  
  .flex-content {
    display: flex;
  }
  
  @media screen and (min-width: 768px) {
    .flex-sm-1 {
      flex: 1;
    }
  
    .flex-sm-2 {
      flex: 2;
    }
  
    .flex-sm-3 {
      flex: 3;
    }
  
    .flex-sm-4 {
      flex: 4;
    }
  
    .flex-sm-5 {
      flex: 5;
    }
  
    .flex-sm-6 {
      flex: 6;
    }
  
    .flex-sm-7 {
      flex: 7;
    }
  
    .flex-sm-8 {
      flex: 8;
    }
  
    .flex-sm-9 {
      flex: 9;
    }
  
    .flex-sm-10 {
      flex: 10;
    }
  
    .flex-sm-11 {
      flex: 11;
    }
  
    .flex-sm-12 {
      flex: 12;
    }
  }
  
  @media (min-width: 992px) {
    .flex-md-1 {
      flex: 1;
    }
  
    .flex-md-2 {
      flex: 2;
    }
  
    .flex-md-3 {
      flex: 3;
    }
  
    .flex-md-4 {
      flex: 4;
    }
  
    .flex-md-5 {
      flex: 5;
    }
  
    .flex-md-6 {
      flex: 6;
    }
  
    .flex-md-7 {
      flex: 7;
    }
  
    .flex-md-8 {
      flex: 8;
    }
  
    .flex-md-9 {
      flex: 9;
    }
  
    .flex-md-10 {
      flex: 10;
    }
  
    .flex-md-11 {
      flex: 11;
    }
  
    .flex-md-12 {
      flex: 12;
    }
  }
  
  .flex-xs-1 {
    flex: 1;
  }
  
  .flex-xs-2 {
    flex: 2;
  }
  
  .flex-xs-3 {
    flex: 3;
  }
  
  .flex-xs-4 {
    flex: 4;
  }
  
  .flex-xs-5 {
    flex: 5;
  }
  
  .flex-xs-6 {
    flex: 6;
  }
  
  .flex-xs-7 {
    flex: 7;
  }
  
  .flex-xs-8 {
    flex: 8;
  }
  
  .flex-xs-9 {
    flex: 9;
  }
  
  .flex-xs-10 {
    flex: 10;
  }
  
  .flex-xs-11 {
    flex: 11;
  }
  
  .flex-xs-12 {
    flex: 12;
  }
  
  .order1 {
    order: 1;
  }
  
  .order2 {
    order: 2;
  }
  .order3 {
    order: 3;
  }
  
  .order4 {
    order: 4;
  }
  
  .order5 {
    order: 5;
  }
  
  .order6 {
    order: 6;
  }
  
  .order7 {
    order: 7;
  }
  
  .order8 {
    order: 8;
  }
  
  .order9 {
    order: 9;
  }
  
  .order10 {
    order: 10;
  }
  
  .order11 {
    order: 11;
  }
  
  .order12 {
    order: 12;
  }
  
  @media (max-width: 767px) {
    .hide-header {
      display: none;
    }
  }
  
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-left {
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s,
      box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s,
      -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,
      -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
      -webkit-box-shadow ease-in-out 0.15s;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* End of TINB */
  
  .description-justify {
    padding: 0 15px;
    text-align: justify;
  }
  
  .title-content {
    padding: 0 15px;
  }
  
  .top-padding-ten {
    padding-top: 10px;
  }
  
  .border-bottom {
    border-bottom-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  
  .btn-gray {
    background-color: #efefef;
    border-style: solid;
    border-color: lightgray;
  }
  .share-button {
    font-size: 16px;
    background-color: transparent;
  }

  
  .section-title-grid{
      display:grid;
      grid-template-columns: 10fr 26fr 24fr;
  }

  .title-grid{
      grid-row:1;
      grid-column:2;
  }

  .title-grid-2{
    grid-row:2;
    grid-column:2;
}

  .image-comment-grid{
    display:grid;
      grid-template-columns: 3fr 1fr;
  }

  .comment-grid{
    grid-row:1;
      grid-column:1;
      font-size: 15px;
  }

  .article-content-grid{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .content-grid{
    grid-row:1;
      grid-column:2;
      font-size: 20px;
  }

  .inflation-theory-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap:10px;
  }

  .grid-1-1{
    grid-row:1;
    grid-column:1;
  }

  .grid-1-2{
    grid-row:1;
    grid-column:2;
  }

  .grid-1-3{
    grid-row:1;
    grid-column:3;
  }

  .grid-1-4{
    grid-row:1;
    grid-column:4;
  }

  .grid-2-1{
    grid-row:2;
    grid-column:1;
  }

  .grid-2-2{
    grid-row:2;
    grid-column:2;
  }

  .grid-2-3{
    grid-row:2;
    grid-column:3;
  }

  .grid-2-4{
    grid-row:2;
    grid-column:4;
  }

  .grid-3-1{
    grid-row:3;
    grid-column:1;
  }

  .grid-3-2{
    grid-row:3;
    grid-column:2;
  }

  .grid-3-3{
    grid-row:3;
    grid-column:3;
  }

  .grid-3-4{
    grid-row:3;
    grid-column:4;
  }

  .grid-4-1{
    grid-row:4;
    grid-column:1;
  }

  .grid-4-2{
    grid-row:4;
    grid-column:2;
  }

  .grid-4-3{
    grid-row:4;
    grid-column:3;
  }

  .grid-4-4{
    grid-row:4;
    grid-column:4;
  }

  .div-line-grid{
    display:grid;
    grid-template-columns: 1fr 10fr;
  }

  .line-grid{
    grid-row:1;
    grid-column:1;
  }

